a {text-decoration: none;}
#focus {
margin:10px auto;
  width: 900px;
  height: 400px;
  overflow: hidden;
  position: relative;
}
#focus ul {
  position: absolute;
  padding:0;
  height:400px;
}
#focus ul li {
  float: left;
  width: 900px;
  height: 380px;
  overflow: hidden;
  position: relative;
  
  display: flex;
  align-items: center;
  justify-content: center;
}
#focus ul li div {
  overflow: hidden;
}
/*介绍图片的样式设置*/
.foodi {
  position: absolute;
  top: 10px;
  display: block;
  width: 900px;
  height:auto;
}
#focus .box {
  position: absolute;
  height: 20px;
  width: 900px;
  left: 0;
  bottom: 0;
  background-color: #000;
}
/*下方导航栏标志*/
#focus .bov {
  position: absolute;
  width: 900px;
  height: 10px;
  padding: 5px 10px;
  right: 0;
  bottom: 0;
  text-align: right;
}
/*指示图片位置的方框*/
#focus .bov span {
  display: inline-block;
  _display: inline;
  _zoom: 1;
  width: 25px;
  height: 10px;
  _font-size: 0;
  margin-left: 5px;
  cursor: pointer;
  background: #fff;
}
/*正在显示的图片的序列位置*/
#focus .bov span.on {
  background: #fff;
}
/*上下键的位置*/
#focus .preNext {
  width: 45px;
  height: 100px;
  position: absolute;
  top: 170px;
  background: url("/mystore/images/上.png") no-repeat 0 0;
  cursor: pointer;
}
/*向前翻标志位置*/
#focus .pre {
  left: 0;
}
/*向后翻标志位置*/
#focus .next {
  right: 0;
  background-position: right top;
}
.divrank{
	width:90%;
	margin:20px auto;
	border:3px dot black;
}
h3{
	color: #a20000;
	font-family: Lato, sans-serif;
	text-align:left;
	font-weight: 1000;
    letter-spacing: 0.2em;
    margin-left:50px;
    margin-top:30px;
    margin-bottom:10px;
    font-size:26px;
}
table td,table th{
	font-size: 1.2em;
 font-family:Cursive;
  padding: 3px 7px 2px 7px;
}
table th{	
	line-height:50px;
  font-size: 1.4em;
  padding-top: 5px;
  padding-bottom: 4px;
  background-color: lightsteelblue;
  color: black;
}
table td{
	height:240px;
	border-bottom:1px solid #f0f0f0;
}